sudo: false
language: node_js
node_js:
- '4.1'
env:
  global:
  - STAGING_BRANCH=develop
  - PRODUCTION_BRANCH=master
cache:
  apt: true
  directories:
  - "$HOME/docker"
services:
- docker
before_install:
- chmod +x ./.build_scripts/build.sh
- chmod +x ./.build_scripts/deploy.sh
- touch local.env
install: npm install apidoc
script: npm run docker-test
after_success:
- ".build_scripts/build.sh"
- "npm run docs"
deploy:
  - provider: script
    skip_cleanup: true
    script: ".build_scripts/deploy.sh"
    on:
      branch: ${STAGING_BRANCH}
  - provider: script
    skip_cleanup: true
    script: ".build_scripts/deploy.sh"
    on:
      branch: ${PRODUCTION_BRANCH}
  - provider: s3
    access_key_id: AKIAIHACHLPCT2PIL4TA
    secret_access_key:
      secure: LjNaw4L1W6Ia3qjn22yhyq9sa8+HWsaZ8f5Z8P+apOraKifxgxNwVcaLJRzBM2hfdslLN6HnADBZWCT3MBX7Hl3XOVnQZsEuo22BMCAUaWxyZ9lGMWDGtCBGtDt7SfXvoMw6e84HpaED2I5/OcluPFg/5Knq/yOvRqy9x7mPa5VUezPkCcnSEW5OsL0v5/sXxaRAzUGOHicLglne5cZRSbbdxN+xp3/w+Vuj3kx9JzZ7C7pJNe3rINnWNlZ8ymy/z4W4xlMWMxl7DHLWhJUSaeRe+RBypozsOtttYdtMzi88MkZnh2nPakyTT8OgknW9BZn6xWml8Gk2RdvPp3GEO53zrG0DEmHul8CT6hyG7/sBiIcIKAsJQH4OOaE3mxjuNAx+IH7G0m6BEAYZZ/gbcL+xIMVHmZKj1GROjWgOyDACOoDjpsz0Lq7HHBY9iU1PzTcOcVAdrzoqJ8NAgBgwQgMjPXgw6ece00IgySjQK+9BcdqE4eVS+QU+DKQYCwyWz8NWYvnm3NPDzJTo75c4LMxDqy3iUqGimx7Nb89Ouv9huZv1lmipgPyMn7w4uPxI+2xfK1oT6aWoujyYnyvBfWzZJpWJsNLAf1e4RSxw53UBUko0/S8YNPneYLmAFiuLuf0RER1u064IodYs2zR23uDF+XHtsS0NtZUoehkiwYM=
    bucket: docs.openaq.org
    acl: public_read
    local-dir: docs
    skip-cleanup: true
    on:
      branch: ${PRODUCTION_BRANCH}
