language: node_js
node_js:
- '0.12'
env:
  global:
  - GH_REF=github.com/openaq/openaq-api.git
  - PRODUCTION_BRANCH=master
  - secure: c7WtkBq9BI1H3L2QUznuFz1JKtLepFdHhQnyI/DraN8CkleAuYmLaoP5lPwSa6ksVW45r68EcCurwNxdwGcnAVcSLsC0gAqtkYQQXcvGR+YZglDflUBSgC58wkjalOAPCzR+NgzVfocELm4USwIH/EeCSDUy+jz4vml011la7JEEJaZJB1sV61U4Az4hnaGzJg4pujdx/oIOmwJnGx3R9qgiLOxT6O8jMZ2+WPz6PHJjOLpeyRD2LwW9iCVjWG8k7SRB7pylg3Y/n2dnxF1QFd+Sq9rMmKxlBvVk5+WgENa3cNXabCuF9FNuR2L8kvNjOqVlNEpOPusQBNZkQVGghwUVLDBS0ZSyCoHgU8Kf+FG8X55vVSWz4LhFuxC+GASYGHUoBnIBP1Hp7kUvcEJBeZS6493nOlDzaBylOwjib2t8uiuFf3XdTsmvK6nB8TuQ3sxsVYjcOQ9+4s08agCIOhczY63VHmO8oNMqkcE145HR8kqzVuOXnPGDr7Q6TM7PpKNsAGBd/dB6z8QKQDC9A4nYO3TpYDEPe/aHpmbpy93xzfi4FldO7fB1LE92SymjDO2pVvtZZzH3jN8NnVFbIQutupTcHvO5MBMXUl3f0HbKCqe2mgbYVJ33bPpCLnMk9FJORJxJlXlniOjm5iA9Tk9n5zh+uKF9XgW+ZS3Sd3U=
branches:
  only:
  - master
before_install:
- chmod +x ./.build_scripts/docs.sh
after_success:
- "./.build_scripts/docs.sh"
deploy:
  provider: heroku
  api_key:
    secure: E0Hyt+HMDb0NYR8fySMn2kYja+AkZccKakFuOPYVHyb791+YZYSq0+8QxIQ8ktIibsP+YxB941lgB1LDyDpNLLywzt5zDi+i5pwCfB8QwDdx2InUhkxC1HY+s0KKQwVq5nF9iLxWZ0L2wV3QPc1LS3togE5kq2Q/GWrJefhJ1IIn+BMn7HVuNe4iLhwVxp2+HLQmdE+ibqjB0YvavjQlLD64ItAkeS5ROgc4UQjzMWcDUiyfDr6qLsE+jXEfq7muhmb9KQ7rNUjRW/P7eh/jRNH0bZYZ06BaIkYyAkEv946bHZebnFeEgS7d/rk6uLtWegF+vA3Iv/5wKBFoL2Gp7tf7/TNMYIsUC7IGBiWf8TZtH0SJGrBGH5E98zJrLsVAiTmePhDEpg0Q39XZQo0vT92VKSiDHX07r7PBu5hnJiw8nAmJPJkDu9vfj9tlQmhbkvWd/Omkup16SOdoXa8+X0EcDxReWwgIHChY/NAckOjmWpJzoCZrYlv7Beh7WFZMzOskjQ7FYSNpt/GSOC9rrGTwVfNg8kVOhRKYONZoKC9layiQrKXYtEWBdDfPhN1xG/ldKT0/2XRpsSD0e5/sYgzMmNd9sZFu9h/PaFqXMJQSR0gHp32PJbMxjcpuS7GdJYVSZSuVnJdAv6nikXH+uz5UZT5/ZuzHtUdfxSDCg18=
  app: nameless-ocean-6420
  on:
    repo: openaq/openaq-api
